@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;}
.content{width: 100%;background-color:rgb(200,127,221);}
.banner,.main,.bottem{width: 890px;margin: 0 auto;}
.banner{background-color: #1907F2;height:100px;}
.main{background-color: antiquewhite;height: 580px}
.bottem{background-color: aqua;height: 80px}

.logo,.nav{height: 150px;float: left;}
.logo{width: 25%;background-color: aquamarine;}
.nav{width: 75%;background-color: firebrick;}


.aidebar,.main-content,.main-rt{height: 1000px;background-color: bisque;float:left;}
.aidebar{width: 25%;background-color: #f00;float:left;}
.main-content{width: 55%;background-color: #0f0;float:left;}
.main-rt{width: 20%;background-color: #00f;float:left;}

.botem-main{height: 80px;text-align: center;}
.logoimg{width: 100px;height: 100px;}
